li{
    display: inline;
    margin-right: 400px;
    margin-top: 50;
}
.highheel {
    width: 250px;s
}
.mansjacket{
    width: 222px;
}
.womenjacket{
    width: 220px;
}
section{
    display: inline;
    margin-right: 200px;
    margin-bottom: 200px;
}
h4{ display: inline;
margin-right: 200px;
}
#aboutus{
    margin-block: ;
}s